<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Ping Pong Table Status</title>
</head>
<body>

<style>
    .container {
        background-color: #ffffff;
        color: #000000;
    }
    .available {
        background-color: #59c605;
    }
    .in-use {
        background-color: #f70000;
    }
    .status-div {
        height: 400px;
        font-size: 200px;
        color: #ffffff;
        text-align: center;
    }
    .menubar {
        align: right;
    }
</style>
<div class="container">
    <div class="header">
        <div class="menubar">
            <span><a href="/matches">Match Schedule</a></span>
            <span><a href="/matches/creator">New Match</a></span>
        </div>
    </div>
    <h1>Ping Pong Table Status</h1>
    <div class="status-div" th:classappend="${inUse}? 'in-use' : 'available'" th:text="*{inUse}? 'In Use' : 'Available'"></div>

<div class="footer">

</div>

</div>
</body>
</html>